<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Enter your age</h3>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="age">
        <button type="submit">submit</button>
    </form>

    {% if age %}
        {% if age < 1 or age > 100 %}
            <h3>The age entered is invalid</h3>
        {% else %}
            {% if age < 18 %}
                <h3>You are not eligible to vote</h3>
            {% else %}
                <h3>You are eligible to vote</h3>
            {% endif %}
        {% endif %}
    {% endif %}
</body>
</html>