<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            color: bisque;
            background-color: cadetblue;
        }
        table, th, td {
            background-color: aquamarine;
            color: brown;
        }
    </style>
</head>
<body>
    <p style="color: rgb(117, 28, 13); background-color: aqua;">This is my home</p>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Hello <br>World</p>
    <h1>This is heading 1</h1>
    <h2>This is heading 2</h2>
    <h3>This is heading 3</h3>
    <h4>This is heading 4</h4>
    <h5>This is heading 5</h5>
    <h6>This is heading 6</h6>
    <hr>
    <h2><a href="http://www.google.com">Click Me</a></h2>
    <img src="https://th.bing.com/th/id/OIP.wkaafeZ-fREJiE_jLsRj9wHaE8?w=260&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="Computer">
    <table>
        <thead>
            <tr>
                <th>Sl.No.</th>
                <th>Name</th>
                <th>Registration No.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Prachi</td>
                <td>24E111B81</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Chhaya</td>
                <td>24E113A58</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ridhi</td>
                <td>24E114A04</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Deeptika</td>
                <td>24E119E99</td>
            </tr>
        </tbody>
    </table>
</body>
</html>